/* =====Global ====*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html {
    /* background: darkgray; */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
  }
  body {
    /* max-width: 1200px; */
    width: 100vw;
    margin: auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 20px;
  }

  .menu a, .login a{
    margin: auto 10px;
  }
  .header div{
    margin: auto 10px;
  }
  span{
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: black;
}

  h1{
    margin: auto 20px 20px;
  }
  main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: violet; */
    height: 100vh;
  }
.cart{
  width: 510px;
  height: 500px;
}

.cartBox{
  box-shadow: 20px 18px 59px -4px rgba(0,0,0,0.57);
  -webkit-box-shadow: 20px 18px 59px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: 20px 18px 59px -4px rgba(0,0,0,0.57);
  border-radius: 12px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 300px;

}
.thumbnail{
  width: 200px;
  height: 200px;
  color: white;
  padding: 10px;
  background: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  border-radius: 12px;

}

.fa-solid{
  margin-left: 70px;
}
.productInfo{
  display: inline-block;
}
.productInfo >i{
  margin-left: 0px;
  display: inline-block;
}

/* =============================== */
.orderInfo {
  /* display: flex;
  flex-direction: column; */
  box-shadow: 20px 18px 59px -4px rgba(0,0,0,0.57);
  -webkit-box-shadow: 20px 18px 59px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: 20px 18px 59px -4px rgba(0,0,0,0.57);
  border-radius: 12px;
  margin-top: 70px;  
  width: 500px;
  height: 400px;  

}
.orderInfo h1{
  margin-top: 40px;
  
}
.horizonFlex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}
.subTotal{
 display: inline-block;
 margin-top: 50px;
 margin-left: 20px;

}
.subValue{
  display: inline-block;
}
.horizonFlex{
padding: 10px;
display: flex;
flex-direction: row;
}
.horizonFlex  i {
align-self: center;
margin: auto 0px auto 30px ;
}
.horizonFlex input{
  padding: 8px 50px;
  border-radius: 5px;

}
.horizonFlex button{
  padding: 8px 50px;
  border-radius: 5px;
}

hr{
  color: grey;
  margin: 20px 20px;
}
#apply{
  color: aquamarine;
  font-weight: bolder;
  border-color: #00bf72;
  background-color: white;
}
#loginCheckout{
  padding: 8px;
  font-weight: bold;
  background-color: aquamarine;
  border-radius: 5px;
  border: grey;
  width: 450px;
  margin-left: 25px;


}
.orderInfo h2 {
color: aquamarine; 
}