/* =====Global ====*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html {
    /* background: darkgray; */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
  }
  body {
    max-width: 1200px;
    margin: auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 20px;
  }

  .menu a, .login a{
    margin: auto 10px;
  }
  .header div{
    margin: auto 10px;
  }
  span{
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: black;
}

  h1{
    margin: auto 20px 20px;
  }
  main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: violet; */
    height: 800px;
  }
.cart{
  width: 510px;
  height: 500px;
}

.cartBox{
  box-shadow: 20px 18px 59px -4px rgba(0,0,0,0.57);
  -webkit-box-shadow: 20px 18px 59px -4px rgba(0,0,0,0.57);
  -moz-box-shadow: 20px 18px 59px -4px rgba(0,0,0,0.57);
  border-radius: 12px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 300px;

}
.thumbnail{
  width: 200px;
  height: 200px;
  color: white;
  padding: 10px;
  background: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  border-radius: 12px;

}

.orderInfo {
  border-color: green;
  width: 500px;
  height: 300px;
  border: blue;
}
.fa-solid{
  margin-left: 70px;
}
.productInofo{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.productInfo >i{
  margin-left: 0px;
}
